<div id="main">

  <!-- material lite card -->
  <div class="wizard mdl-card mdl-shadow--2dp" id="wizard">
    <h1>$hive Post Downloader</h1>
    <div class="mdl-card__title">

      <div class="mdl-card__title-text">

        Your Account,<br /> Your Data
      </div>
      <div id="hive"><img src="./images/hive_circle.png" alt="$hive logo" height="64px" width="64px"></div>
    </div>
    <div class="mdl-card__supporting-text">
      Export your hive posts in markdown format. 
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <div id="step1">
        <form onsubmit="fetchPosts(); return false">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 150px;">
            <label class="mdl-textfield__label" for="username">Username</label> <input class="mdl-textfield__input"
              type="text" id="user" name="username" value="" style="width: 150px;">
          </div>
        </form>
        <div style="text-align: right; width: 100%;">
          <button onclick="fetchPosts()" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect"><i
              class="material-icons">arrow_forward</i></button>
        </div>
      </div>
    </div>

  </div>
  <!-- end material lite card -->

</div>




<div class="wizard mdl-card mdl-shadow--2dp" style="padding: 1em; display: none" id='mainContent'>
  <div id="wizardbottom">


    <div id="step2">
      <div id="downloadPosts">
        <!-- populated by ./js/downloadall.js-->
      </div>
      Posts retrieved<div id="status">0</div>
    </div>

  </div>

  <hr />
  <h5>How it works:</h5>
  All posts are saved to indexeddb using <a href='https://github.com/dannyconnell/localbase'>localbase</a>
  <!-- & encrypted with <a
    href="https://pieroxy.net/blog/pages/lz-string/index.html">lz-string</a> to maximize storage space-->. <a
    href='https://github.com/Stuk/jszip'>JSZip</a> is used to create a zip file for download and finally <a
    href='https://github.com/eligrey/FileSaver.js'>FileSaver</a> is used to prompt the file download.
  <hr />

</div>
