<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>$Hive Post Downloader</title>
  <meta name="description" content="a tool to download all your hive posts">
  <meta name="author" content="blokz.io">
  <link rel="shortcut icon" href="./images/favicon.png" />

  <link rel="stylesheet" href="./css/styles.css?v=1.0">

  <!-- https://stuk.github.io/jszip/ -->
  <script  src="./js/jszip.min.js"></script>

  <!-- https://github.com/eligrey/FileSaver.js -->
  <script  src="./js/FileSaver.min.js"></script>

  <!-- https://pieroxy.net/blog/pages/lz-string/index.html -->
  <script  src="./js/lz-string.js"></script>

  <link rel="stylesheet" href="./css/material.min.css">
  <script src="./js/material.min.js"></script>

  <script defer src="./js/export.js"></script>

  <script  src="https://unpkg.com/localbase/dist/localbase.dev.js"></script>


  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


</head>
<body>

    <%- body %>


</body>
</html>